*{
  margin: 0;
  padding: 0;
}

.App h1{
  text-align: center;
  color: violet;
  margin-top: 2em;
  margin-bottom: 2em;
}

.Jokes{
  text-align: center;
  color: yellowgreen;
}

.JokeList li{
  margin-bottom: 2em;
}